.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #000;
}
.login img {
    height: 300px;
}
.login a{
    margin: 20px;
    padding:10px 50px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
    background: #920ea693;
    border-radius: 10px;
    text-decoration: none;
}