.Player__body{
    display: flex;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid #00ff00;  */
    flex :0.8;
    height: 100vh;
    color: #fff;
    background: linear-gradient(#00ff00,#000000);
}